@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/about.css"> 
</head>
<body>
    <div class="about-content">
        <h1>About Us</h1>
        <p>At Bumblebee Foundation, we envision a place where every individual and community has the opportunity to thrive. We strive for a future where social and environmental challenges are met with empathy, innovation, and collaboration. Our vision is one of interconnectedness, where offshore sponsors and local initiatives unite to create sustainable solutions that leave a lasting impact. Through our dedication to transparency, accountability, and inclusivity, we aspire to be a beacon of hope and catalyst for positive change worldwide. Together, we can build a future where everyone has the resources and support they need to reach their full potential.</p>
        <p>The Bumblebee Foundation is dedicated to fostering partnerships and mobilising resources to support the initiatives of non-profit organisations within South Africa. Our mission is to connect offshore sponsors with local projects, amplifying their impact and empowering communities to address pressing social and environmental challenges. Committed to transparency, accountability, and sustainability, we strive to maximize the effectiveness of every donation and ensure that resources are directed towards meaningful, long-term solutions. Through collaboration and collective action, we aim to create a more equitable and resilient space for present and future generations.</p>
    </div>
</body>
</html>