@model BumbleBeeFoundation_Client.Models.WantToBenefitModel

@{
    ViewData["Title"] = "Want to Benefit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html,
        body {
            height: 100%; 
            margin: 0; 
            display: flex; 
            flex-direction: column; 
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url('/images/globe.jpeg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        }

        .container-custom {
            flex: 1; 
            background-color: rgba(255, 255, 255, 0.9); 
            border-radius: 10px; 
            padding: 40px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            margin: 40px; 
            color: #2c3e50; 
        }

        h1 {
            text-align: center; 
            margin-bottom: 20px; 
        }

        .text-center.mt-4 {
            margin-bottom: 40px; 
        }
    </style>
</head>
<body>
    <div class="container-custom">
        <h1>Want to request for funding?</h1>
        <div class="text">
            <p>
                Are you ready to propel your business to new heights?
                By partnering with the Bumblebee Foundation, your company can gain access to essential funding and resources that will fuel your growth and innovation.
                Our support is designed to help you overcome financial hurdles, expand your reach, and achieve your strategic goals.
                With our backing, you’ll be able to focus on what you do best—transforming your vision into reality and making a meaningful impact in your industry.
                Join us today and take the next step towards a brighter, more prosperous future for your business.
            </p>
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-primary mr-2" asp-controller="Account" asp-action="Register">Register as a beneficiary company</a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Log in with company beneficiary account</a>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
